/* theme dark */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
#ert{
  height: 100%;
  position: relative;
}


.bg-black {
  background-color: black;
}

.bg-light-black {
  background-color: #262626 !important;
}

.text-black {
  color: black;
}

.text-light-black {
  color: #262626;
}

.bg-dark-primary {
  background-color: #fcbc73 !important;
}

/* theme light */
.bg-light {
  background-color: white;
}

.bg-light-2 {
  background-color: #dadcde;
}

.bg-light-primary {
  background-color: #192659 !important;
}

.text-light-primary {
  color: #192659 !important;
}
.footer {
  background-color: #4a5568;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.innerFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0.5rem;
}

.socialmediaIcon {
  display: flex;
  flex-direction: column;
}

.wpIcon {
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
  border-radius: 50%;
  margin: 10px;
  width: 80px;
  height: 80px;
  background-color: white;
  position: fixed;
  bottom: 100px;
  right: 5px;
}

.iconImg{
    width: 80px;
    height: 80px;
}
.chakra-button{
  padding:0.5rem !important;
  border-radius: 20px;
  border: none;
}
li a{
  color: white !important;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
	}
}